In [39]:
import requests
import requests
import re

secret = "secret_ykCuAA7S3BWsmQx7ueDXFcN68K8tVW6uBebjWmC8mAt"

base_db_url = "https://api.notion.com/v1/databases/"
base_pg_url = "https://api.notion.com/v1/pages/"

wallet_db_id = "cb5cdd0ec14d4bfebd51f3b01731a65d"
data = {}
header = {"Authorization":secret, 
          "Notion-Version":"2021-05-13", 
          "Content-Type": "application/json"}

page_url= "https://www.notion.so/jmmoyano/050ad6eb764f4ebb901c306130732ce4?v=b44d2356140c4eb89b92cfba6cc113a0"

In [42]:
os.environ["NOTION_API_KEY"] = "secret_ykCuAA7S3BWsmQx7ueDXFcN68K8tVW6uBebjWmC8mAt"

In [64]:
import notion_df
notion_df.pandas() #That's it!

import pandas as pd
df = pd.read_notion(page_url, api_key="secret_ykCuAA7S3BWsmQx7ueDXFcN68K8tVW6uBebjWmC8mAt").drop_duplicates().loc[1:]

In [65]:
df.head()

,year_min,url_de,url_spain,price,max_km,Name
2,2015,https://suchen.mobile.de/fahrzeuge/search.html...,https://www.coches.net/segunda-mano/?MakeId=47...,"10000,20000",125000,volkswagen t-roc
3,2015,https://suchen.mobile.de/fahrzeuge/search.html...,None,"10000,20000",125000,Volvo v60
4,2015,https://suchen.mobile.de/fahrzeuge/search.html...,None,"10000,20000",125000,volkswagen tiguan
15,2015,https://suchen.mobile.de/fahrzeuge/search.html...,None,"10000,20000",125000,Mercedes GLA
16,2015,None,None,"10000,20000",125000,Audi A3

In [67]:
df['Brand'] = df['Name'].apply(lambda x: x.str.split(' ')[0])
df['Bramd'].value_counts()

AttributeError: 'str' object has no attribute 'str'